<main>
  <h1>Todos los clientes</h1>
  <div class="forms__container">
    <form class="search__form">
      <label for="search__input">Buscar cliente:</label>
      <div>
        <input
          type="text"
          id="search__input"
          placeholder="Ingrese el nombre del cliente"
        />
        <button type="submit">Buscar</button>
      </div>
    </form>

    <form class="filter__form">
      <label for="filter__select">Filtrar por:</label>
      <div>
        <select id="filter__select">
          <option value="nombre">Nombre</option>
          <option value="apellido">Apellido</option>
          <option value="ciudad">Ciudad</option>
        </select>
        <button type="submit">Filtrar</button>
      </div>
    </form>
  </div>

  <div class="client__list">
    <div class="client__card">
      <h2>Juan Perez</h2>
      <p><span class="span__bolder"> Email: </span>juanperez👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> San Luis</p>
    </div>

    <div class="client__card">
      <h2>Maria Rodriguez</h2>
      <p><span class="span__bolder"> Email: </span>mariar👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Buenos Aires</p>
    </div>

    <div class="client__card">
      <h2>Luis García</h2>
      <p><span class="span__bolder"> Email: </span>luisg👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Córdoba</p>
    </div>

    <div class="client__card">
      <h2>Ana Martínez</h2>
      <p><span class="span__bolder"> Email: </span>anamartinez👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Rosario</p>
    </div>

    <div class="client__card">
      <h2>Pablo González</h2>
      <p><span class="span__bolder"> Email: </span>pablog👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Mendoza</p>
    </div>

    <div class="client__card">
      <h2>Carolina López</h2>
      <p><span class="span__bolder"> Email: </span>carolinalopez👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Mar del Plata</p>
    </div>

    <div class="client__card">
      <h2>Lucas Sánchez</h2>
      <p><span class="span__bolder"> Email: </span>lucass👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> La Plata</p>
    </div>

    <div class="client__card">
      <h2>Valentina Castro</h2>
      <p><span class="span__bolder"> Email: </span>valentinac👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Salta</p>
    </div>

    <div class="client__card">
      <h2>Diego Fernández</h2>
      <p><span class="span__bolder"> Email: </span>diegof👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Tucumán</p>
    </div>

    <div class="client__card">
      <h2>Sofía Díaz</h2>
      <p><span class="span__bolder"> Email: </span>sofia.d👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Neuquén</p>
    </div>

    <div class="client__card">
      <h2>Carlos Martín</h2>
      <p><span class="span__bolder"> Email: </span>carlosm👌example.com</p>
      <p><span class="span__bolder"> Ciudad:</span> Santa Fe</p>
    </div>

    <!__ Repite este bloque para cada cliente __>
  </div>
</main>
